#include <windows.h>
#include "../Library/resource.h"
#include "../Version.h"

#ifdef LANGUAGE_RTL
#define DIALOG_EXSTYLE_FLAGS WS_EX_APPWINDOW | WS_EX_CONTROLPARENT | WS_EX_LAYOUTRTL
#define STR_ISRTL "1"
#else
#define DIALOG_EXSTYLE_FLAGS WS_EX_APPWINDOW | WS_EX_CONTROLPARENT
#define STR_ISRTL "0"
#endif


#define MAKESTRING2(num) #num
#define MAKESTRING(num) MAKESTRING2(num)

#define STR_NUM_BUTTONWIDTH MAKESTRING(NUM_BUTTONWIDTH)
#define STR_NUM_LABELWIDTH MAKESTRING(NUM_LABELWIDTH)

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
{
    ID_STR_NUM_BUTTONWIDTH, STR_NUM_BUTTONWIDTH
    ID_STR_NUM_LABELWIDTH, STR_NUM_LABELWIDTH
    ID_STR_ISRTL, STR_ISRTL
    ID_STR_UPDATEAVAILABLE, STR_UPDATEAVAILABLE
    ID_STR_MANAGE, STR_MANAGE
    ID_STR_ABOUT, STR_ABOUT
    ID_STR_HELP, STR_HELP
    ID_STR_SKINS, STR_SKINS
    ID_STR_NOSKINS, STR_NOSKINS
    ID_STR_OPENFOLDER, STR_OPENFOLDER
    ID_STR_DISABLEDRAGGING, STR_DISABLEDRAGGING
    ID_STR_THEMES, STR_THEMES
    ID_STR_NOTHEMES, STR_NOTHEMES
    ID_STR_EDITSETTINGS, STR_EDITSETTINGS
    ID_STR_REFRESHALL, STR_REFRESHALL
    ID_STR_LOGGING, STR_LOGGING
    ID_STR_SHOWLOGFILE, STR_SHOWLOGFILE
    ID_STR_STARTLOGGING, STR_STARTLOGGING
    ID_STR_STOPLOGGING, STR_STOPLOGGING
    ID_STR_DELETELOGFILE, STR_DELETELOGFILE
    ID_STR_DEBUGMODE, STR_DEBUGMODE
    ID_STR_EXIT, STR_EXIT
    ID_STR_VARIANTS, STR_VARIANTS
    ID_STR_SETTINGS, STR_SETTINGS
    ID_STR_POSITION, STR_POSITION
    ID_STR_DISPLAYMONITOR, STR_DISPLAYMONITOR
    ID_STR_USEDEFAULTMONITOR, STR_USEDEFAULTMONITOR
    ID_STR_VIRTUALSCREEN, STR_VIRTUALSCREEN
    ID_STR_AUTOSELECTMONITOR, STR_AUTOSELECTMONITOR
    ID_STR_STAYTOPMOST, STR_STAYTOPMOST
    ID_STR_TOPMOST, STR_TOPMOST
    ID_STR_NORMAL, STR_NORMAL
    ID_STR_BOTTOM, STR_BOTTOM
    ID_STR_ONDESKTOP, STR_ONDESKTOP
    ID_STR_FROMRIGHT, STR_FROMRIGHT
    ID_STR_FROMBOTTOM, STR_FROMBOTTOM
    ID_STR_XASPERCENTAGE, STR_XASPERCENTAGE
    ID_STR_YASPERCENTAGE, STR_YASPERCENTAGE
    ID_STR_TRANSPARENCY, STR_TRANSPARENCY
    ID_STR_0PERCENT, "0%"
    ID_STR_10PERCENT, "10%"
    ID_STR_20PERCENT, "20%"
    ID_STR_30PERCENT, "30%"
    ID_STR_40PERCENT, "40%"
    ID_STR_50PERCENT, "50%"
    ID_STR_60PERCENT, "60%"
    ID_STR_70PERCENT, "70%"
    ID_STR_80PERCENT, "80%"
    ID_STR_90PERCENT, "90%"
    ID_STR_FADEIN, STR_FADEIN
    ID_STR_FADEOUT, STR_FADEOUT
    ID_STR_HIDEONMOUSEOVER, STR_HIDEONMOUSEOVER
    ID_STR_DRAGGABLE, STR_DRAGGABLE
    ID_STR_SAVEPOSITION, STR_SAVEPOSITION
    ID_STR_SNAPTOEDGES, STR_SNAPTOEDGES
    ID_STR_CLICKTHROUGH, STR_CLICKTHROUGH
    ID_STR_KEEPONSCREEN, STR_KEEPONSCREEN
    ID_STR_MANAGESKIN, STR_MANAGESKIN
    ID_STR_EDITSKIN, STR_EDITSKIN
    ID_STR_REFRESHSKIN, STR_REFRESHSKIN
    ID_STR_UNLOADSKIN, STR_UNLOADSKIN
    ID_STR_CLOSE, STR_CLOSE
    ID_STR_ABOUTRAINMETER, STR_ABOUTRAINMETER
    ID_STR_LOG, STR_LOG
    ID_STR_MEASURES, STR_MEASURES
    ID_STR_VARIABLES, STR_VARIABLES
    ID_STR_PLUGINS, STR_PLUGINS
    ID_STR_VERSION, STR_VERSION
    ID_STR_TYPE, STR_TYPE
    ID_STR_TIME, STR_TIME
    ID_STR_MESSAGE, STR_MESSAGE
    ID_STR_NAME, STR_NAME
    ID_STR_RANGE, STR_RANGE
    ID_STR_VALUE, STR_VALUE
    ID_STR_AUTHOR, STR_AUTHOR
    ID_STR_ERROR, STR_ERROR
    ID_STR_WARNING, STR_WARNING
    ID_STR_NOTICE, STR_NOTICE
    ID_STR_DEBUG, STR_DEBUG
    ID_STR_GETLATESTVERSION, STR_GETLATESTVERSION
    ID_STR_COPYRIGHTNOTICE, STR_COPYRIGHTNOTICE
    ID_STR_COPYTOCLIPBOARD, STR_COPYTOCLIPBOARD
    ID_STR_MANAGERAINMETER, STR_MANAGERAINMETER
    ID_STR_ACTIVESKINS, STR_ACTIVESKINS
    ID_STR_EXPAND, STR_EXPAND
    ID_STR_COLLAPSE, STR_COLLAPSE
    ID_STR_OPENLOG, STR_OPENLOG
    ID_STR_LOAD, STR_LOAD
    ID_STR_UNLOAD, STR_UNLOAD
    ID_STR_REFRESH, STR_REFRESH
    ID_STR_EDIT, STR_EDIT
    ID_STR_AUTHORSC, STR_AUTHORSC
    ID_STR_VERSIONSC, STR_VERSIONSC
    ID_STR_LICENSESC, STR_LICENSESC
    ID_STR_INFORMATIONSC, STR_INFORMATIONSC
    ID_STR_ADDMETADATA, STR_ADDMETADATA
    ID_STR_COORDINATESSC, STR_COORDINATESSC
    ID_STR_POSITIONSC, STR_POSITIONSC
    ID_STR_LOADORDERSC, STR_LOADORDERSC
    ID_STR_TRANSPARENCYSC, STR_TRANSPARENCYSC
    ID_STR_ONHOVERSC, STR_ONHOVERSC
    ID_STR_DONOTHING, STR_DONOTHING
    ID_STR_HIDE, STR_HIDE
    ID_STR_SAVENEWTHEME, STR_SAVENEWTHEME
    ID_STR_THEMEDESCRIPTION, STR_THEMEDESCRIPTION
    ID_STR_SAVEASEMPTYTHEME, STR_SAVEASEMPTYTHEME
    ID_STR_EXCLUDEUNUSEDSKINS, STR_EXCLUDEUNUSEDSKINS
    ID_STR_INCLUDEWALLPAPER, STR_INCLUDEWALLPAPER
    ID_STR_NAMESC, STR_NAMESC
    ID_STR_SAVE, STR_SAVE
    ID_STR_SAVEDTHEMES, STR_SAVEDTHEMES
    ID_STR_DELETE, STR_DELETE
//  ID_STR_BACKUP, STR_BACKUP
//  ID_STR_BACKUPDESCRIPTION, STR_BACKUPDESCRIPTION
//  ID_STR_BACKUPE, STR_BACKUPE
    ID_STR_LANGUAGESC, STR_LANGUAGESC
    ID_STR_GENERAL, STR_GENERAL
    ID_STR_CHECKFORUPDATES, STR_CHECKFORUPDATES
    ID_STR_RESETSTATISTICS, STR_RESETSTATISTICS
    ID_STR_LOGTOFILE, STR_LOGTOFILE
    ID_STR_SETTINGSNOTWRITABLE, STR_SETTINGSNOTWRITABLE
    ID_STR_SETTINGSMOVEFILE, STR_SETTINGSMOVEFILE
    ID_STR_SETTINGSREADONLY, STR_SETTINGSREADONLY
    ID_STR_THEMEALREADYEXISTS, STR_THEMEALREADYEXISTS
    ID_STR_THEMESAVEFAIL, STR_THEMESAVEFAIL
    ID_STR_THEMEDELETE, STR_THEMEDELETE
    ID_STR_LOGFILECREATEFAIL, STR_LOGFILECREATEFAIL
    ID_STR_LOGFILEDELETE, STR_LOGFILEDELETE
    ID_STR_NOAVAILABLESKINS, STR_NOAVAILABLESKINS
    ID_STR_UNABLETOACTIVATESKIN, STR_UNABLETOACTIVATESKIN
    ID_STR_UNABLETOREFRESHSKIN, STR_UNABLETOREFRESHSKIN
    ID_STR_NEWVERSIONREQUIRED, STR_NEWVERSIONREQUIRED
    ID_STR_NOMETERSINSKIN, STR_NOMETERSINSKIN
    ID_STR_INCLUDEINFINITELOOP, STR_INCLUDEINFINITELOOP
    ID_STR_WELCOME, STR_WELCOME
    ID_STR_CLICKTOMANAGE, STR_CLICKTOMANAGE
    ID_STR_CLICKTODOWNLOAD, STR_CLICKTODOWNLOAD
    ID_STR_CREATERMSKINPACKAGE, "Create .rmskin package..."
    ID_STR_EDITORSC, "Editor:"
    ID_STR_ELLIPSIS, "..."
    ID_STR_SHOWNOTIFICATIONAREAICON, "Show notification area icon"
    ID_STR_SOURCE, "Source"
    ID_STR_USED2D, "Use D2D rendering"
}
