#include <windows.h>
#include "../Library/resource.h"
#include "../Version.h"

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_CONTEXT_MENU MENU
{
    POPUP "Rainmeter"
    {
        MENUITEM STR_MANAGE,                     IDM_MANAGE
        MENUITEM STR_ABOUT,                      IDM_ABOUT
        MENUITEM STR_HELP,                       IDM_SHOW_HELP
        MENUITEM SEPARATOR
        POPUP STR_SKINS
        {
            MENUITEM STR_NOSKINS,                0, GRAYED
            MENUITEM SEPARATOR
            MENUITEM STR_OPENFOLDER,             IDM_OPENSKINSFOLDER
            MENUITEM STR_DISABLEDRAGGING,        IDM_DISABLEDRAG
        }
        POPUP STR_THEMES
        {
            MENUITEM STR_NOTHEMES,               0, GRAYED
        }
        MENUITEM SEPARATOR
        MENUITEM STR_EDITSETTINGS,               IDM_EDITCONFIG
        MENUITEM STR_REFRESHALL,                 IDM_REFRESH
        MENUITEM SEPARATOR
        POPUP STR_LOGGING
        {
            MENUITEM STR_SHOWLOGFILE,            IDM_SHOWLOGFILE
            MENUITEM SEPARATOR
            MENUITEM STR_STARTLOGGING,           IDM_STARTLOG
            MENUITEM STR_STOPLOGGING,            IDM_STOPLOG
            MENUITEM SEPARATOR
            MENUITEM STR_DELETELOGFILE,          IDM_DELETELOGFILE
            MENUITEM STR_DEBUGMODE,              IDM_DEBUGLOG
        }
        MENUITEM SEPARATOR
        MENUITEM STR_EXIT,                       IDM_QUIT
    }
}

IDR_SKIN_MENU MENU
{
    POPUP "Skin"
    {
        MENUITEM " ",                           IDM_SKIN_OPENSKINSFOLDER  // " " is intentional
        MENUITEM SEPARATOR
        POPUP STR_VARIANTS
        {
            MENUITEM SEPARATOR  // Dummy
        }
        MENUITEM SEPARATOR
        POPUP STR_SETTINGS
        {
            POPUP STR_POSITION
            {
                POPUP STR_DISPLAYMONITOR
                {
                    MENUITEM STR_USEDEFAULTMONITOR,     IDM_SKIN_MONITOR_PRIMARY
                    MENUITEM STR_VIRTUALSCREEN,         ID_MONITOR_FIRST
                    MENUITEM SEPARATOR
                    MENUITEM SEPARATOR
                    MENUITEM STR_AUTOSELECTMONITOR,     IDM_SKIN_MONITOR_AUTOSELECT
                }
                MENUITEM SEPARATOR
                MENUITEM STR_STAYTOPMOST,               IDM_SKIN_VERYTOPMOST
                MENUITEM STR_TOPMOST,                   IDM_SKIN_TOPMOST
                MENUITEM STR_NORMAL,                    IDM_SKIN_NORMAL
                MENUITEM STR_BOTTOM,                    IDM_SKIN_BOTTOM
                MENUITEM STR_ONDESKTOP,                 IDM_SKIN_ONDESKTOP
                MENUITEM SEPARATOR
                MENUITEM STR_FROMRIGHT,                 IDM_SKIN_FROMRIGHT
                MENUITEM STR_FROMBOTTOM,                IDM_SKIN_FROMBOTTOM
                MENUITEM STR_XASPERCENTAGE,             IDM_SKIN_XPERCENTAGE
                MENUITEM STR_YASPERCENTAGE,             IDM_SKIN_YPERCENTAGE
            }
            POPUP STR_TRANSPARENCY
            {
                MENUITEM "0%",                          IDM_SKIN_TRANSPARENCY_0
                MENUITEM "10%",                         IDM_SKIN_TRANSPARENCY_10
                MENUITEM "20%",                         IDM_SKIN_TRANSPARENCY_20
                MENUITEM "30%",                         IDM_SKIN_TRANSPARENCY_30
                MENUITEM "40%",                         IDM_SKIN_TRANSPARENCY_40
                MENUITEM "50%",                         IDM_SKIN_TRANSPARENCY_50
                MENUITEM "60%",                         IDM_SKIN_TRANSPARENCY_60
                MENUITEM "70%",                         IDM_SKIN_TRANSPARENCY_70
                MENUITEM "80%",                         IDM_SKIN_TRANSPARENCY_80
                MENUITEM "90%",                         IDM_SKIN_TRANSPARENCY_90
                MENUITEM SEPARATOR
                MENUITEM STR_FADEIN,                    IDM_SKIN_TRANSPARENCY_FADEIN
                MENUITEM STR_FADEOUT,                   IDM_SKIN_TRANSPARENCY_FADEOUT
            }
            MENUITEM SEPARATOR
            MENUITEM STR_HIDEONMOUSEOVER,               IDM_SKIN_HIDEONMOUSE
            MENUITEM STR_DRAGGABLE,                     IDM_SKIN_DRAGGABLE
            MENUITEM STR_SAVEPOSITION,                  IDM_SKIN_REMEMBERPOSITION
            MENUITEM STR_SNAPTOEDGES,                   IDM_SKIN_SNAPTOEDGES
            MENUITEM STR_CLICKTHROUGH,                  IDM_SKIN_CLICKTHROUGH
            MENUITEM STR_KEEPONSCREEN,                  IDM_SKIN_KEEPONSCREEN
        }
        MENUITEM SEPARATOR
        MENUITEM STR_MANAGESKIN,                        IDM_SKIN_MANAGESKIN
        MENUITEM STR_EDITSKIN,                          IDM_SKIN_EDITSKIN
        MENUITEM STR_REFRESHSKIN,                       IDM_SKIN_REFRESH
        MENUITEM SEPARATOR
        MENUITEM STR_UNLOADSKIN,                        IDM_CLOSESKIN
    }
}

IDR_MANAGESKINS_MENU MENU
{
    POPUP "Folder"
    {
        MENUITEM STR_EXPAND,                     IDM_MANAGESKINSMENU_EXPAND
        MENUITEM STR_OPENFOLDER,                 IDM_MANAGESKINSMENU_OPENFOLDER
    }
    POPUP "Item"
    {
        MENUITEM STR_LOAD,                      IDM_MANAGESKINSMENU_LOAD
        MENUITEM STR_REFRESH,                   IDM_MANAGESKINSMENU_REFRESH
        MENUITEM STR_EDIT,                      IDM_MANAGESKINSMENU_EDIT
    }
}

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_ABOUT_DIALOG DIALOGEX 0, 0, 400, 210
STYLE DS_CENTER | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
EXSTYLE WS_EX_APPWINDOW | WS_EX_CONTROLPARENT
CAPTION STR_ABOUTRAINMETER
FONT 8, "MS Shell Dlg 2", 0, 0, 0x0
{
    CONTROL         "", IDC_ABOUT_TAB, "SysTabControl32", TCS_TABS | TCS_FIXEDWIDTH, 6, 6, 388, 181
    DEFPUSHBUTTON   STR_CLOSE, IDCLOSE, 344, 191, 50, 14
}

IDD_ABOUTLOG_DIALOG DIALOGEX 15, 30, 370, 148
STYLE DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS
FONT 8, "MS Shell Dlg 2", 0, 0, 0x0
{
    CONTROL         "", IDC_ABOUTLOG_ITEMS_LISTVIEW, "SysListView32", LVS_ICON | LVS_REPORT | LVS_SINGLESEL | LVS_NOSORTHEADER | WS_BORDER | WS_TABSTOP, 0, 0, 368, 135
    AUTOCHECKBOX    STR_ERROR, IDC_ABOUTLOG_ERROR_CHECKBOX, 0, 139, 70, 9
    AUTOCHECKBOX    STR_WARNING, IDC_ABOUTLOG_WARNING_CHECKBOX, 70, 139, 70, 9
    AUTOCHECKBOX    STR_NOTICE, IDC_ABOUTLOG_NOTICE_CHECKBOX, 140, 139, 70, 9
    AUTOCHECKBOX    STR_DEBUG, IDC_ABOUTLOG_DEBUG_CHECKBOX, 210, 139, 70, 9
}

IDD_ABOUTSKINS_DIALOG DIALOGEX 15, 30, 370, 148
STYLE DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS
FONT 8, "MS Shell Dlg 2", 0, 0, 0x0
{
    LISTBOX         IDC_ABOUTSKINS_ITEMS_LISTBOX, 0, 0, 120, 148, LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
    CONTROL         "", IDC_ABOUTSKINS_ITEMS_LISTVIEW, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_NOSORTHEADER | WS_BORDER | WS_TABSTOP, 125, 0, 242, 148
}

IDD_ABOUTPLUGINS_DIALOG DIALOGEX 15, 30, 370, 148
STYLE DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS
FONT 8, "MS Shell Dlg 2", 0, 0, 0x0
{
    CONTROL         "", IDC_ABOUTPLUGINS_ITEMS_LISTVIEW, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_NOSORTHEADER | WS_BORDER | WS_TABSTOP, 0, 0, 368, 148
}

IDD_ABOUTVERSION_DIALOG DIALOGEX 15, 30, 370, 148
STYLE DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS
FONT 8, "MS Shell Dlg 2", 0, 0, 0x0
{
    CONTROL         0, IDC_ABOUTVERSION_RAINMETER_ICON, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 0, 8, 24, 24
    LTEXT           "", IDC_ABOUTVERSION_VERSION_TEXT, 28, 0, 300, 9
    CONTROL         STR_GETLATESTVERSION, IDC_STATIC, "SysLink", 0x0, 28, 13, 300, 9
    CONTROL         STR_COPYRIGHTNOTICE, IDC_STATIC, "SysLink", 0x0, 28, 26, 300, 9
    LTEXT           "", IDC_ABOUTVERSION_PATH_TEXT, 0, 43, 360, 9, SS_ENDELLIPSIS | SS_NOPREFIX
    LTEXT           "", IDC_ABOUTVERSION_INIFILE_TEXT, 0, 56, 360, 9, SS_ENDELLIPSIS | SS_NOPREFIX
    LTEXT           "", IDC_ABOUTVERSION_SKINPATH_TEXT, 0, 69, 360, 9, SS_ENDELLIPSIS | SS_NOPREFIX
    PUSHBUTTON      STR_COPYTOCLIPBOARD, IDC_ABOUTVERSION_COPY_BUTTON, 0, 85, NUM_BUTTONWIDTH + 25, 14, WS_TABSTOP
}

IDD_MANAGE_DIALOG DIALOGEX 0, 0, 500, 322
STYLE DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW | WS_EX_CONTROLPARENT
CAPTION STR_MANAGERAINMETER
FONT 8, "MS Shell Dlg 2", 0, 0, 0x0
{
    CONTROL         "", IDC_MANAGE_TAB, "SysTabControl32", TCS_TABS | TCS_FIXEDWIDTH, 6, 6, 488, 293
    PUSHBUTTON      STR_REFRESHALL, IDC_MANAGE_REFRESHALL_BUTTON, 5, 303, NUM_BUTTONWIDTH, 14
    PUSHBUTTON      STR_EDITSETTINGS, IDC_MANAGE_EDITSETTINGS_BUTTON, NUM_BUTTONWIDTH + 9, 303, NUM_BUTTONWIDTH, 14
    PUSHBUTTON      STR_OPENLOG, IDC_MANAGE_OPENLOG_BUTTON, NUM_BUTTONWIDTH + NUM_BUTTONWIDTH + 13, 303, NUM_BUTTONWIDTH, 14
    PUSHBUTTON      STR_CLOSE, IDCLOSE, 444, 303, 50, 14
}

IDD_MANAGESKINS_DIALOG DIALOGEX 15, 30, 470, 260
STYLE DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS
FONT 8, "MS Shell Dlg 2", 0, 0, 0x0
{
    PUSHBUTTON      STR_ACTIVESKINS, IDC_MANAGESKINS_ACTIVESKINS_BUTTON, 0, 0, 145, 14, WS_TABSTOP
    CONTROL         "", IDC_MANAGESKINS_SKINS_TREEVIEW, "SysTreeView32", TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | TVS_SHOWSELALWAYS | WS_BORDER | WS_VSCROLL, 0, 18, 145, 228
    CONTROL         "<A>Create .rmskin package...</a>", IDC_MANAGESKINS_CREATEPACKAGE_LINK, "SysLink", 0x0, 0, 250, 145, 14

    LTEXT           "N/A", IDC_MANAGESKINS_FILE_TEXT, 165, 0, 130, 14, SS_ENDELLIPSIS | SS_NOPREFIX
    LTEXT           "N/A", IDC_MANAGESKINS_CONFIG_TEXT, 165, 16, 130, 9, SS_ENDELLIPSIS | SS_NOPREFIX
    PUSHBUTTON      STR_LOAD, IDC_MANAGESKINS_LOAD_BUTTON, 310, 0, 50, 14, WS_DISABLED | WS_TABSTOP
    PUSHBUTTON      STR_REFRESH, IDC_MANAGESKINS_REFRESH_BUTTON, 364, 0, 50, 14, WS_DISABLED | WS_TABSTOP
    PUSHBUTTON      STR_EDIT, IDC_MANAGESKINS_EDIT_BUTTON, 418, 0, 50, 14, WS_DISABLED | WS_TABSTOP

    LTEXT           STR_AUTHORSC, IDC_STATIC, 165, 30, 80, 9
    LTEXT           "", IDC_MANAGESKINS_AUTHOR_TEXT, 230, 30, 245, 9, SS_ENDELLIPSIS | SS_NOPREFIX
    LTEXT           STR_VERSIONSC, IDC_STATIC, 165, 43, 80, 9
    LTEXT           "", IDC_MANAGESKINS_VERSION_TEXT, 230, 43, 245, 9, SS_ENDELLIPSIS | SS_NOPREFIX
    LTEXT           STR_LICENSESC, IDC_STATIC, 165, 56, 80, 9
    LTEXT           "", IDC_MANAGESKINS_LICENSE_TEXT, 230, 56, 245, 9, SS_ENDELLIPSIS | SS_NOPREFIX
    LTEXT           STR_INFORMATIONSC, IDC_STATIC, 165, 69, 80, 9
    EDITTEXT        IDC_MANAGESKINS_DESCRIPTION_TEXT, 228, 69, 238, 64, ES_MULTILINE | ES_READONLY
    CONTROL         STR_ADDMETADATA, IDC_MANAGESKINS_ADDMETADATA_LINK, "SysLink", NOT WS_VISIBLE, 165, 142, 150, 9

    CONTROL         "", IDC_STATIC, STATIC, SS_ETCHEDHORZ | WS_CHILD | WS_VISIBLE, 165, 156, 304, 1
    LTEXT           STR_COORDINATESSC, IDC_STATIC, 165, 169, NUM_LABELWIDTH, 9
    EDITTEXT        IDC_MANAGESKINS_X_TEXT, 165 + NUM_LABELWIDTH, 166, 38, 14,  WS_BORDER | WS_TABSTOP | WS_DISABLED
    EDITTEXT        IDC_MANAGESKINS_Y_TEXT, 165 + NUM_LABELWIDTH + 42, 166, 38, 14, ES_NUMBER | WS_BORDER | WS_TABSTOP | WS_DISABLED
    LTEXT           STR_POSITIONSC, IDC_STATIC, 165, 190, NUM_LABELWIDTH, 9
    COMBOBOX        IDC_MANAGESKINS_ZPOSITION_COMBOBOX, 165 + NUM_LABELWIDTH, 187, 80, 14, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP | WS_DISABLED
    LTEXT           STR_LOADORDERSC, IDC_STATIC, 165, 208, NUM_LABELWIDTH, 9
    EDITTEXT        IDC_MANAGESKINS_LOADORDER_TEXT, 165 + NUM_LABELWIDTH, 205, 80, 14, WS_BORDER | WS_TABSTOP | WS_DISABLED
    LTEXT           STR_TRANSPARENCYSC, IDC_STATIC, 165, 229, NUM_LABELWIDTH, 9
    COMBOBOX        IDC_MANAGESKINS_TRANSPARENCY_COMBOBOX, 165 + NUM_LABELWIDTH, 226, 80, 14, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP | WS_DISABLED
    LTEXT           STR_ONHOVERSC, IDC_STATIC, 165, 247, NUM_LABELWIDTH, 9
    COMBOBOX        IDC_MANAGESKINS_ONHOVER_COMBOBOX, 165 + NUM_LABELWIDTH, 244, 80, 14, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP | WS_DISABLED
    PUSHBUTTON      STR_DISPLAYMONITOR, IDC_MANAGESKINS_DISPLAYMONITOR_BUTTON, 350, 166, 118, 14, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX    STR_DRAGGABLE, IDC_MANAGESKINS_DRAGGABLE_CHECKBOX, 350, 190, 118, 9, WS_DISABLED
    AUTOCHECKBOX    STR_CLICKTHROUGH, IDC_MANAGESKINS_CLICKTHROUGH_CHECKBOX, 350, 203, 118, 9, WS_DISABLED
    AUTOCHECKBOX    STR_KEEPONSCREEN, IDC_MANAGESKINS_KEEPONSCREEN_CHECKBOX, 350, 216, 118, 9, WS_DISABLED
    AUTOCHECKBOX    STR_SAVEPOSITION, IDC_MANAGESKINS_SAVEPOSITION_CHECKBOX, 350, 229, 118, 9, WS_DISABLED
    AUTOCHECKBOX    STR_SNAPTOEDGES, IDC_MANAGESKINS_SNAPTOEDGES_CHECKBOX, 350, 242, 118, 9, WS_DISABLED
}

IDD_MANAGETHEMES_DIALOG DIALOGEX 15, 30, 470, 260
STYLE DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS
FONT 8, "MS Shell Dlg 2", 0, 0, 0x0
{
    GROUPBOX        STR_SAVENEWTHEME, IDC_STATIC, 0, 0, 230, 150
    LTEXT           STR_THEMEDESCRIPTION, IDC_STATIC, 6, 16, 205, 44
    AUTOCHECKBOX    STR_SAVEASEMPTYTHEME, IDC_MANAGETHEMES_EMPTYTHEME_CHECKBOX, 6, 70, 220, 9, WS_TABSTOP
    AUTOCHECKBOX    STR_EXCLUDEUNUSEDSKINS, IDC_MANAGETHEMES_UNUSEDSKINS_CHECKBOX, 6, 83, 220, 9, WS_TABSTOP
    AUTOCHECKBOX    STR_INCLUDEWALLPAPER, IDC_MANAGETHEMES_WALLPAPER_CHECKBOX, 6, 96, 220, 9, WS_TABSTOP
    LTEXT           STR_NAMESC, IDC_STATIC, 6, 115, 100, 9
    EDITTEXT        IDC_MANAGETHEMES_NAME_TEXT, 6, 128, 162, 14, WS_BORDER | WS_TABSTOP
    PUSHBUTTON      STR_SAVE, IDC_MANAGETHEMES_SAVE_BUTTON, 172, 128, 50, 14, WS_DISABLED | WS_TABSTOP

    GROUPBOX        STR_SAVEDTHEMES, IDC_STATIC, 238, 0, 230, 150
    LISTBOX         IDC_MANAGETHEMES_LIST, 244, 16, 160, 125, LBS_STANDARD | LBS_NOINTEGRALHEIGHT
    PUSHBUTTON      STR_LOAD, IDC_MANAGETHEMES_LOAD_BUTTON, 410, 16, 50, 14, WS_DISABLED
    PUSHBUTTON      STR_DELETE, IDC_MANAGETHEMES_DELETE_BUTTON, 410, 34, 50, 14, WS_DISABLED
    PUSHBUTTON      STR_EDIT, IDC_MANAGETHEMES_EDIT_BUTTON, 410, 52, 50, 14,  WS_DISABLED

//  GROUPBOX        STR_BACKUP, IDC_STATIC, 0, 200, 468, 60
//  LTEXT           STR_BACKUPDESCRIPTION, IDC_STATIC, 6, 216, 455, 34
//  PUSHBUTTON      STR_BACKUPE, IDC_MANAGETHEMES_BACKUP_BUTTON, 460 - NUM_BUTTONWIDTH, 240, NUM_BUTTONWIDTH, 14
}

IDD_MANAGESETTINGS_DIALOG DIALOGEX 15, 30, 470, 260
STYLE DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS
FONT 8, "MS Shell Dlg 2", 0, 0, 0x0
{
    GROUPBOX        STR_GENERAL, IDC_STATIC, 0, 0, 468, 86
    LTEXT           STR_LANGUAGESC, IDC_STATIC, 6, 16, 87, 44
    COMBOBOX        IDC_MANAGESETTINGS_LANGUAGE_COMBOBOX, 87, 13, 140, 14, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    //AUTOCHECKBOX    "Run automatically at startup", IDC_MANAGESETTINGS_AUTOSTART_CHECKBOX, 6, 16, 140, 9, WS_DISABLED
    AUTOCHECKBOX    STR_CHECKFORUPDATES, IDC_MANAGESETTINGS_CHECKUPDATES_CHECKBOX, 6, 34, 200, 9
    AUTOCHECKBOX    STR_DISABLEDRAGGING, IDC_MANAGESETTINGS_LOCKSKINS_CHECKBOX, 6, 47, 200, 9
    PUSHBUTTON      STR_RESETSTATISTICS, IDC_MANAGESETTINGS_RESETSTATISTICS_BUTTON, 6, 64, NUM_BUTTONWIDTH + 20, 14

    GROUPBOX        STR_LOGGING, IDC_STATIC, 0, 91, 468, 68
    AUTOCHECKBOX    STR_DEBUGMODE, IDC_MANAGESETTINGS_VERBOSELOGGING_CHECKBOX, 6, 107, 200, 9
    AUTOCHECKBOX    STR_LOGTOFILE, IDC_MANAGESETTINGS_LOGTOFILE_CHECKBOX, 6, 120, 200, 9
    PUSHBUTTON      STR_SHOWLOGFILE, IDC_MANAGESETTINGS_SHOWLOGFILE_BUTTON, 6, 137, NUM_BUTTONWIDTH + 20, 14
    PUSHBUTTON      STR_DELETELOGFILE, IDC_MANAGESETTINGS_DELETELOGFILE_BUTTON, NUM_BUTTONWIDTH + 30, 137, NUM_BUTTONWIDTH + 20, 14
}

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
{
    ID_STR_ISRTL, STR_ISRTL
    ID_STR_UPDATEAVAILABLE, STR_UPDATEAVAILABLE
    ID_STR_LOG, STR_LOG
    ID_STR_MEASURES, STR_MEASURES
    ID_STR_PLUGINS, STR_PLUGINS
    ID_STR_VERSION, STR_VERSION
    ID_STR_TYPE, STR_TYPE
    ID_STR_TIME, STR_TIME
    ID_STR_MESSAGE, STR_MESSAGE
    ID_STR_NAME, STR_NAME
    ID_STR_RANGE, STR_RANGE
    ID_STR_VALUE, STR_VALUE
    ID_STR_AUTHOR, STR_AUTHOR
    ID_STR_MANAGERAINMETER, STR_MANAGERAINMETER
    ID_STR_SKINS, STR_SKINS
    ID_STR_THEMES, STR_THEMES
    ID_STR_SETTINGS, STR_SETTINGS
    ID_STR_STAYTOPMOST, STR_STAYTOPMOST
    ID_STR_TOPMOST, STR_TOPMOST
    ID_STR_NORMAL, STR_NORMAL
    ID_STR_BOTTOM, STR_BOTTOM
    ID_STR_ONDESKTOP, STR_ONDESKTOP
    ID_STR_DONOTHING, STR_DONOTHING
    ID_STR_HIDE, STR_HIDE
    ID_STR_FADEIN, STR_FADEIN
    ID_STR_FADEOUT, STR_FADEOUT
    ID_STR_LOAD, STR_LOAD
    ID_STR_UNLOAD, STR_UNLOAD
    ID_STR_COLLAPSE, STR_COLLAPSE
    ID_STR_SETTINGSNOTWRITABLE, STR_SETTINGSNOTWRITABLE
    ID_STR_SETTINGSMOVEFILE, STR_SETTINGSMOVEFILE
    ID_STR_SETTINGSREADONLY, STR_SETTINGSREADONLY
    ID_STR_THEMEALREADYEXISTS, STR_THEMEALREADYEXISTS
    ID_STR_THEMESAVEFAIL, STR_THEMESAVEFAIL
    ID_STR_THEMEDELETE, STR_THEMEDELETE
    ID_STR_VARIABLES, STR_VARIABLES
    ID_STR_LOGFILECREATEFAIL, STR_LOGFILECREATEFAIL
    ID_STR_LOGFILEDELETE, STR_LOGFILEDELETE
    ID_STR_NOAVAILABLESKINS, STR_NOAVAILABLESKINS
    ID_STR_UNABLETOACTIVATESKIN, STR_UNABLETOACTIVATESKIN
    ID_STR_UNABLETOREFRESHSKIN, STR_UNABLETOREFRESHSKIN
    ID_STR_NEWVERSIONREQUIRED, STR_NEWVERSIONREQUIRED
    ID_STR_NOMETERSINSKIN, STR_NOMETERSINSKIN
    ID_STR_INCLUDEINFINITELOOP, STR_INCLUDEINFINITELOOP
    ID_STR_ABOUTRAINMETER, STR_ABOUTRAINMETER
    ID_STR_WELCOME, STR_WELCOME
    ID_STR_CLICKTOMANAGE, STR_CLICKTOMANAGE
    ID_STR_CLICKTODOWNLOAD, STR_CLICKTODOWNLOAD
}