#include <VerRsrc.h>
#include "../../Version.h"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,1,4,0
 PRODUCTVERSION PRODUCTVER
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS	VOS_NT_WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE VFT_UNKNOWN
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904E4"
        {
            VALUE "FileVersion", "1.1.4.0"
            VALUE "LegalCopyright", "© 2014 - David Grace"
            VALUE "ProductName", "Rainmeter"
#ifdef _WIN64
            VALUE "ProductVersion", STRPRODUCTVER " (64-bit)"
#else
            VALUE "ProductVersion", STRPRODUCTVER " (32-bit)"
#endif //_WIN64
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 1252
    }
}
