#include "resource.h"
#include "Version.h"
#include <VerRsrc.h>

#pragma code_page(1252)

///////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION RAINLEXER_VERSION_RC
 PRODUCTVERSION 0,0,0,0
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE VFT_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "FileDescription", "RainLexer - Notepad++ plugin"
            VALUE "FileVersion", RAINLEXER_VERSION_STRING
            VALUE "LegalCopyright", "\xA9 2026 Rainmeter Team"
            VALUE "OriginalFilename", "RainLexer.dll"
            VALUE "ProductVersion", RAINLEXER_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_RAINMETER           ICON                    "Rainmeter.ico"
