#include <Windows.h>
#include "resource.h"
#include "../Version.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 3,0,0,0
 PRODUCTVERSION PRODUCTVER
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904E4"
        {
            VALUE "FileDescription", "Rainstaller"
            VALUE "FileVersion", "3.0.0.0"
            VALUE "InternalName", "Rainstaller"
            VALUE "LegalCopyright", "Copyright (C) 2011 - Birunthan Mohanathas"
            VALUE "OriginalFilename", "Rainstaller.exe"
            VALUE "ProductName", "Rainstaller"
#ifdef _WIN64
            VALUE "ProductVersion", STRPRODUCTVER " (64-bit)"
#else
            VALUE "ProductVersion", STRPRODUCTVER " (32-bit)"
#endif //_WIN64
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 1252
    }
}

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_BACKUP_DIALOG DIALOGEX 0, 0, 280, 120
STYLE DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Backup Rainmeter"
FONT 8, "MS Shell Dlg 2"
{
    CONTROL         "", IDC_BACKUP_TAB, "SysTabControl32", TCS_TABS | TCS_FIXEDWIDTH, 6, 6, 268, 91
    DEFPUSHBUTTON   "Start backup", IDC_BACKUP_BACKUP_BUTTON, 149, 101, 70, 14
    PUSHBUTTON      "Close", IDCLOSE, 224, 101, 50, 14
}

IDD_BACKUP_TABDIALOG DIALOGEX 15, 30, 250, 58
STYLE DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS
FONT 8, "MS Shell Dlg 2"
{
    LTEXT           "A backup allows you to save a complete copy of your setup, including skins and statistics.\n\nThe backup will be created at:", IDC_BACKUP_DESCRIPTION_TEXT, 0, 0, 245, 39
    EDITTEXT        IDC_BACKUP_FILE_TEXT, 0, 42, 220, 14, WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON      "...", IDC_BACKUP_BROWSE_BUTTON, 225, 42, 25, 14, WS_TABSTOP

    LTEXT           "Backup in progress...\n\nThis may take several minutes to complete.", IDC_BACKUP_INPROGRESS_TEXT, 0, 0, 245, 39, NOT WS_VISIBLE
    CONTROL         "", IDC_BACKUP_PROGRESS, "msctls_progress32", PBS_MARQUEE | NOT WS_VISIBLE | WS_BORDER, 0, 42, 250, 11
}

IDD_INSTALLER_DIALOG DIALOGEX 0, 0, 266, 240
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Rainstaller"
FONT 8, "MS Shell Dlg 2"
{
    CONTROL         IDB_INSTALLER, IDC_BITMAP, STATIC, SS_BITMAP | WS_CHILD | WS_VISIBLE, 0, 0, 266, 37
    CONTROL         "", IDC_STATIC, STATIC, SS_ETCHEDHORZ | WS_CHILD | WS_VISIBLE, 0, 37, 270, 1
    GROUPBOX        "", IDC_STATIC, 7, 39, 252, 44
    LTEXT           "Name:", IDC_NAME_LABEL, 13, 48, 35, 9
    LTEXT           "", IDC_NAME_VALUE, 50, 48, 200, 9, SS_NOPREFIX
    LTEXT           "Author:", IDC_AUTHOR_LABEL, 13, 59, 35, 9
    LTEXT           "", IDC_AUTHOR_VALUE, 50, 59, 200, 9, SS_NOPREFIX
    LTEXT           "Version:", IDC_VERSION_LABEL, 13, 70, 35, 9
    LTEXT           "", IDC_VERSION_VALUE, 50, 70, 200, 9, SS_NOPREFIX
    GROUPBOX        "", IDC_STATIC, 7, 83, 252, 95
    LTEXT           "Skins:", IDC_SKINS_LABEL, 13, 91, 35, 9, SS_NOTIFY
    LTEXT           "", IDC_SKINS_VALUE, 50, 91, 200, 9, SS_NOTIFY | SS_ENDELLIPSIS | SS_NOPREFIX
    LTEXT           "Themes:", IDC_THEMES_LABEL, 13, 102, 35, 9, SS_NOTIFY
    LTEXT           "", IDC_THEMES_VALUE, 50, 102, 200, 9, SS_NOTIFY | SS_ENDELLIPSIS | SS_NOPREFIX
    LTEXT           "Addons:", IDC_ADDONS_LABEL, 13, 113, 35, 9, SS_NOTIFY
    LTEXT           "", IDC_ADDONS_VALUE, 50, 113, 200, 9, SS_NOTIFY | SS_ENDELLIPSIS | SS_NOPREFIX
    LTEXT           "Plugins:", IDC_PLUGINS_LABEL, 13, 124, 35, 9, SS_NOTIFY
    LTEXT           "", IDC_PLUGINS_VALUE, 50, 124, 200, 9, SS_NOTIFY | SS_ENDELLIPSIS | SS_NOPREFIX
    LTEXT           "Fonts:", IDC_FONTS_LABEL, 13, 135, 35, 9, SS_NOTIFY
    LTEXT           "", IDC_FONTS_VALUE, 50, 135, 200, 9, SS_NOTIFY | SS_ENDELLIPSIS | SS_NOPREFIX
    AUTOCHECKBOX    "Apply theme ()", IDC_THEME_CHECKBOX, 13, 150, 220, 9, BST_CHECKED
    AUTOCHECKBOX    "Launch Rainmeter after install", IDC_LAUNCH_CHECKBOX, 13, 162, 220, 9, BST_CHECKED
    CONTROL         "", IDC_PROGRESSBAR, "msctls_progress32", PBS_MARQUEE | WS_CHILD | WS_VISIBLE | WS_BORDER, 7, 186, 135, 11
    DEFPUSHBUTTON   "&Install", IDC_INSTALL_BUTTON, 155, 184, 50, 14
    PUSHBUTTON      "&Cancel", IDC_CANCEL_BUTTON, 209, 184, 50, 14
    CONTROL         "", IDC_SEPERATOR, STATIC, SS_ETCHEDHORZ | WS_CHILD | WS_VISIBLE, 0, 204, 270, 1
    ICON            "", IDC_WARNING_ICON, 8, 212, 20, 20
    LTEXT           "Components marked with an asterisk (*) will be replaced. Backups will be made should you want to restore.", IDC_BACKUP_LABEL, 38, 213, 220, 18
}

IDD_RUNAS DIALOGEX 0, 0, 250, 145
STYLE DS_MODALFRAME | DS_CENTER | DS_NOIDLEMSG | DS_SETFOREGROUND | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Run As..."
FONT 8, "MS Shell Dlg 2"
{
    ICON            "", IDC_KEY_ICON, 7, 8, 20, 20
    LTEXT           "You do not have the necessary permissions to install the components. You need to run this program as a different administrative user in order to continue with the installation.", IDC_HELPTEXT, 38, 7, 204, 35
    CONTROL         "&Current user", IDC_CURRENT_BUTTON, "Button", BS_AUTORADIOBUTTON | WS_DISABLED, 20, 49, 218, 10
    CONTROL         "Run the program as the &following user:", IDC_SPECIFIED_BUTTON, "Button", BS_AUTORADIOBUTTON, 20, 65, 218, 10
    LTEXT           "&User name:", IDC_USERNAME_LABEL, 20, 84, 42, 16
    EDITTEXT        IDC_USERNAME, 63, 83, 175, 14, ES_AUTOHSCROLL
    LTEXT           "&Password:", IDC_PASSWORD_LABEL, 20, 102, 42, 20
    EDITTEXT        IDC_PASSWORD, 63, 100, 175, 14, ES_PASSWORD | ES_AUTOHSCROLL
    DEFPUSHBUTTON   "&OK", IDOK, 132, 122, 50, 14
    PUSHBUTTON      "Ca&ncel", IDCANCEL, 188, 122, 50, 14
}

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_INSTALLER           BITMAP                  "res/Rainstaller.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

IDI_INSTALLER           ICON    DISCARDABLE     "res/Rainstaller.ico"
