#include <Windows.h>
#include "resource.h"
#include "../Version.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION FILEVER
 PRODUCTVERSION PRODUCTVER
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904E4"
        {
            VALUE "FileDescription", "Rainmeter Skin Installer"
            VALUE "FileVersion", STRFILEVER
            VALUE "LegalCopyright", "© 2012 - Birunthan Mohanathas"
            VALUE "OriginalFilename", "SkinInstaller.exe"
            VALUE "ProductName", "Rainmeter"
#ifdef _WIN64
            VALUE "ProductVersion", STRPRODUCTVER " (64-bit)"
#else
            VALUE "ProductVersion", STRPRODUCTVER " (32-bit)"
#endif //_WIN64
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 1252
    }
}

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_INSTALL_MENU MENU
{
    POPUP " "
    {
        MENUITEM "Backup skins",                 IDM_INSTALL_BACKUPSKINS
        MENUITEM "Install fonts to system",      IDM_INSTALL_SYSTEMFONTS, GRAYED
        MENUITEM SEPARATOR
        MENUITEM " ",                            IDM_INSTALL_FORMAT, GRAYED
    }
}

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_PACKAGE_DIALOG DIALOGEX 0, 0, 300, 280
STYLE DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Rainmeter Skin Packager"
FONT 8, "MS Shell Dlg 2"
{
    CONTROL         "", IDC_PACKAGE_TAB, "SysTabControl32", TCS_TABS | TCS_FIXEDWIDTH, 6, 6, 288, 251
    DEFPUSHBUTTON   "Next", IDC_PACKAGE_NEXT_BUTTON, 188, 261, 50, 14, WS_DISABLED
    PUSHBUTTON      "Create package", IDC_PACKAGE_CREATEPACKAGE_BUTTON, 158, 261, 80, 14, NOT WS_VISIBLE
    PUSHBUTTON      "Cancel", IDCANCEL, 243, 261, 50, 14
}

IDD_PACKAGEINFO_TAB DIALOGEX 15, 15, 270, 235
STYLE DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS
FONT 8, "MS Shell Dlg 2"
{
    LTEXT           "Enter the information and select the components to use for the .rmskin package.", IDC_STATIC, 0, 0, 264, 19

    GROUPBOX        "Information", IDC_STATIC, 0, 35, 270, 70
    LTEXT           "Name:", IDC_STATIC, 6, 51, 35, 9
    EDITTEXT        IDC_PACKAGEINFO_NAME_EDIT, 56, 48, 208, 14
    LTEXT           "Author:", IDC_STATIC, 6, 69, 35, 9
    EDITTEXT        IDC_PACKAGEINFO_AUTHOR_EDIT, 56, 66, 208, 14
    LTEXT           "Version:", IDC_STATIC, 6, 87, 35, 9
    EDITTEXT        IDC_PACKAGEINFO_VERSION_EDIT, 56, 83, 140, 14

    GROUPBOX        "Components", IDC_STATIC, 0, 110, 270, 108
    CONTROL         "", IDC_PACKAGEINFO_COMPONENTS_LIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_NOSORTHEADER | WS_BORDER | WS_TABSTOP, 6, 125, 182, 86
    PUSHBUTTON      "Add skin...", IDC_PACKAGEINFO_ADDSKIN_BUTTON, 194, 125, 70, 14
    PUSHBUTTON      "Add layout...", IDC_PACKAGEINFO_ADDTHEME_BUTTON, 194, 144, 70, 14
    PUSHBUTTON      "Add plugin...", IDC_PACKAGEINFO_ADDPLUGIN_BUTTON, 194, 162, 70, 14
    PUSHBUTTON      "Remove", IDC_PACKAGEINFO_REMOVE_BUTTON, 194, 197, 70, 14, WS_DISABLED
    CONTROL         "<A>What is a .rmskin package?</A>", IDC_PACKAGEINFO_WHATIS_LINK, "SysLink", 0x0, 0, 225, 264, 9
}

IDD_PACKAGEOPTIONS_TAB DIALOGEX 15, 30, 270, 220
STYLE DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS
FONT 8, "MS Shell Dlg 2"
{
    LTEXT           "Save package to:", IDC_STATIC, 0, 0, 264, 9
    EDITTEXT        IDC_PACKAGEOPTIONS_FILE_EDIT, 0, 17, 240, 14, ES_READONLY | ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
    PUSHBUTTON      "...", IDC_PACKAGEOPTIONS_FILEBROWSE_BUTTON, 245, 17, 25, 14, WS_TABSTOP


    GROUPBOX        "After installation", IDC_STATIC, 0, 101, 270, 58
    AUTORADIOBUTTON "Do nothing", IDC_PACKAGEOPTIONS_DONOTHING_RADIO, 6, 116, 85, 9, WS_TABSTOP
    AUTORADIOBUTTON "Load skin", IDC_PACKAGEOPTIONS_LOADSKIN_RADIO, 6, 129, 85, 9, WS_TABSTOP
    EDITTEXT        IDC_PACKAGEOPTIONS_LOADSKIN_EDIT, 96, 126, 138, 14, ES_READONLY | ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP | NOT WS_VISIBLE
    PUSHBUTTON      "...", IDC_PACKAGEOPTIONS_LOADSKINBROWSE_BUTTON, 239, 126, 25, 14, WS_TABSTOP | NOT WS_VISIBLE
    AUTORADIOBUTTON "Load layout", IDC_PACKAGEOPTIONS_LOADTHEME_RADIO, 6, 142, 85, 9, WS_TABSTOP
    COMBOBOX        IDC_PACKAGEOPTIONS_LOADTHEME_COMBO, 96, 139, 168, 14, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP | NOT WS_VISIBLE

    GROUPBOX        "Minimum requirements", IDC_STATIC, 0, 164, 270, 53
    LTEXT           "Rainmeter version:", IDC_STATIC, 6, 180, 85, 9
    EDITTEXT        IDC_PACKAGEOPTIONS_RAINMETERVERSION_EDIT, 96, 177, 80, 14
    LTEXT           "Windows version:", IDC_STATIC, 6, 198, 85, 9
    COMBOBOX        IDC_PACKAGEOPTIONS_WINDOWSVERSION_COMBO, 96, 195, 80, 14, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "Creating...", IDC_INSTALLTAB_CREATING_TEXT, 0, 0, 270, 100, NOT WS_VISIBLE
    CONTROL         "", IDC_INSTALLTAB_CREATING_BAR, "msctls_progress32", PBS_MARQUEE | NOT WS_VISIBLE | WS_BORDER, 0, 15, 270, 11
}

IDD_PACKAGEADVANCED_TAB DIALOGEX 15, 30, 270, 220
STYLE DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS
FONT 8, "MS Shell Dlg 2"
{
    LTEXT           "Header image:", IDC_STATIC, 0, 3, 85, 9
    EDITTEXT        IDC_PACKAGEADVANCED_HEADER_EDIT, 90, 0, 150, 14, ES_READONLY | ES_AUTOHSCROLL | WS_TABSTOP
    PUSHBUTTON      "...", IDC_PACKAGEADVANCED_HEADERROWSE_BUTTON, 245, 0, 25, 14, WS_TABSTOP
    LTEXT           "Variables files:", IDC_STATIC, 0, 24, 85, 9
    EDITTEXT        IDC_PACKAGEADVANCED_VARIABLEFILES_EDIT, 90, 21, 180, 14, ES_AUTOHSCROLL | WS_TABSTOP
    AUTOCHECKBOX    "Merge skins", IDC_PACKAGEADVANCED_MERGESKINS_CHECK, 0, 42, 85, 9, WS_TABSTOP
    CONTROL         "<A>Help</A>", IDC_PACKAGEADVANCED_HELP_LINK, "SysLink", 0x0, 0, 210, 264, 9
}

IDD_PACKAGESELECTFOLDER_DIALOG DIALOGEX 0, 0, 200, 100
STYLE DS_CENTER | WS_POPUP | WS_TILEDWINDOW
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Add"
FONT 8, "MS Shell Dlg 2"
{
    AUTORADIOBUTTON "", IDC_PACKAGESELECTFOLDER_EXISTING_RADIO, 6, 6, 220, 9, WS_TABSTOP | BST_CHECKED
    COMBOBOX        IDC_PACKAGESELECTFOLDER_EXISTING_COMBO, 16, 19, 177, 14, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    AUTORADIOBUTTON "Add custom folder:", IDC_PACKAGESELECTFOLDER_CUSTOM_RADIO, 6, 40, 220, 9, WS_TABSTOP
    EDITTEXT        IDC_PACKAGESELECTFOLDER_CUSTOM_EDIT, 16, 53, 149, 14, WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL | WS_DISABLED
    PUSHBUTTON      "...", IDC_PACKAGESELECTFOLDER_CUSTOMBROWSE_BUTTON, 170, 53, 25, 14, WS_TABSTOP | WS_DISABLED
    DEFPUSHBUTTON   "Add", IDOK, 146, 82, 50, 14
}

IDD_PACKAGESELECTPLUGIN_DIALOG DIALOGEX 0, 0, 200, 100
STYLE DS_CENTER | WS_POPUP | WS_TILEDWINDOW
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Add"
FONT 8, "MS Shell Dlg 2"
{
    LTEXT           "32-bit DLL:", IDC_STATIC, 6, 6, 220, 9
    EDITTEXT        IDC_PACKAGESELECTPLUGIN_32BIT_EDIT, 16, 19, 149, 14, ES_READONLY | WS_BORDER
    PUSHBUTTON      "...", IDC_PACKAGESELECTPLUGIN_32BITBROWSE_BUTTON, 170, 19, 25, 14, WS_TABSTOP
    LTEXT           "64-bit DLL:", IDC_STATIC, 6, 40, 220, 9
    EDITTEXT        IDC_PACKAGESELECTPLUGIN_64BIT_EDIT, 16, 53, 149, 14, ES_READONLY | WS_BORDER
    PUSHBUTTON      "...", IDC_PACKAGESELECTPLUGIN_64BITBROWSE_BUTTON, 170, 53, 25, 14, WS_TABSTOP
    DEFPUSHBUTTON   "Add", IDOK, 146, 82, 50, 14, WS_DISABLED
}

IDD_INSTALL_DIALOG DIALOGEX 0, 0, 266, 250
STYLE DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Rainmeter Skin Installer"
FONT 8, "MS Shell Dlg 2"
{
    CONTROL         0, IDC_INSTALL_HEADER_BITMAP, STATIC, SS_BITMAP | WS_CHILD | WS_VISIBLE, 0, 0, 266, 37
    CONTROL         "", IDC_INSTALL_TAB, "SysTabControl32", TCS_TABS | TCS_FIXEDWIDTH, 6, 42, 254, 185
    PUSHBUTTON      "Advanced", IDC_INSTALL_ADVANCED_BUTTON, 6, 231, 70, 14
    DEFPUSHBUTTON   "Install", IDC_INSTALL_INSTALL_BUTTON, 155, 231, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 210, 231, 50, 14
}

IDD_INSTALL_TAB DIALOGEX 15, 51, 236, 168
STYLE DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS
FONT 8, "MS Shell Dlg 2"
{
    LTEXT           "Name:", IDC_STATIC, 0, 0, 35, 9
    LTEXT           "", IDC_INSTALLTAB_NAME_TEXT, 50, 0, 200, 9, SS_NOPREFIX
    LTEXT           "Author:", IDC_STATIC, 0, 13, 35, 9
    LTEXT           "", IDC_INSTALLTAB_AUTHOR_TEXT, 50, 13, 200, 9, SS_NOPREFIX
    LTEXT           "Version:", IDC_STATIC, 0, 26, 35, 9
    LTEXT           "", IDC_INSTALLTAB_VERSION_TEXT, 50, 26, 200, 9, SS_NOPREFIX
    LTEXT           "Included components:", IDC_STATIC, 0, 45, 80, 9
    CONTROL         "", IDC_INSTALLTAB_COMPONENTS_LIST, "SysListView32", LVS_REPORT | LVS_NOSORTHEADER | WS_BORDER | WS_TABSTOP, 0, 60, 234, 86
    AUTOCHECKBOX    "Apply included layout", IDC_INSTALLTAB_THEME_CHECKBOX, 4, 155, 220, 9
    LTEXT           "Installing...", IDC_INSTALLTAB_INPROGRESS_TEXT, 0, 0, 236, 60, NOT WS_VISIBLE
    CONTROL         "", IDC_INSTALLTAB_PROGRESS, "msctls_progress32", PBS_MARQUEE | NOT WS_VISIBLE | WS_BORDER, 0, 15, 236, 11
}

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

IDI_SKININSTALLER           ICON    DISCARDABLE     "res/Rainstaller.ico"
