#include <Windows.h>
#include "resource.h"
#include "../Version.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 4,0,0,0
 PRODUCTVERSION PRODUCTVER
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904E4"
        {
            VALUE "FileDescription", "Rainmeter Skin Installer"
            VALUE "FileVersion", "4.0.0.0"
            VALUE "LegalCopyright", "© 2012 - Birunthan Mohanathas"
            VALUE "OriginalFilename", "SkinInstaller.exe"
            VALUE "ProductName", "Rainmeter"
#ifdef _WIN64
            VALUE "ProductVersion", STRPRODUCTVER " (64-bit)"
#else
            VALUE "ProductVersion", STRPRODUCTVER " (32-bit)"
#endif //_WIN64
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 1252
    }
}

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_INSTALL_MENU MENU
{
    POPUP " "
    {
        MENUITEM "Backup skins",                 IDM_INSTALL_BACKUPSKINS
        MENUITEM "Install fonts to system",      IDM_INSTALL_SYSTEMFONTS, GRAYED
        MENUITEM SEPARATOR
        MENUITEM " ",                            IDM_INSTALL_FORMAT, GRAYED
    }
}

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_BACKUP_DIALOG DIALOGEX 0, 0, 280, 120
STYLE DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Backup Rainmeter"
FONT 8, "MS Shell Dlg 2"
{
    CONTROL         "", IDC_BACKUP_TAB, "SysTabControl32", TCS_TABS | TCS_FIXEDWIDTH, 6, 6, 268, 91
    DEFPUSHBUTTON   "Start backup", IDC_BACKUP_BACKUP_BUTTON, 149, 101, 70, 14
    PUSHBUTTON      "Close", IDCLOSE, 224, 101, 50, 14
}

IDD_BACKUP_TABDIALOG DIALOGEX 15, 30, 250, 58
STYLE DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS
FONT 8, "MS Shell Dlg 2"
{
    LTEXT           "A backup allows you to save a complete copy of your current Rainmeter skins and themes.\n\nThe backup will be created at:", IDC_BACKUP_DESCRIPTION_TEXT, 0, 0, 245, 39
    EDITTEXT        IDC_BACKUP_FILE_TEXT, 0, 42, 220, 14, WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON      "...", IDC_BACKUP_BROWSE_BUTTON, 225, 42, 25, 14, WS_TABSTOP

    LTEXT           "Backup in progress...", IDC_BACKUP_INPROGRESS_TEXT, 0, 0, 245, 39, NOT WS_VISIBLE
    CONTROL         "", IDC_BACKUP_PROGRESS, "msctls_progress32", PBS_MARQUEE | NOT WS_VISIBLE | WS_BORDER, 0, 15, 250, 11
}

IDD_INSTALL_DIALOG DIALOGEX 0, 0, 266, 270
STYLE DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Rainmeter Skin Installer"
FONT 8, "MS Shell Dlg 2"
{
    CONTROL         IDB_INSTALLHEADER, IDC_INSTALL_HEADER_BITMAP, STATIC, SS_BITMAP | WS_CHILD | WS_VISIBLE, 0, 0, 266, 37
    CONTROL         "", IDC_STATIC, STATIC, SS_ETCHEDHORZ | WS_CHILD | WS_VISIBLE, 0, 37, 270, 1
    CONTROL         "", IDC_INSTALL_TAB, "SysTabControl32", TCS_TABS | TCS_FIXEDWIDTH, 6, 42, 254, 205
    PUSHBUTTON      "Advanced", IDC_INSTALL_ADVANCED_BUTTON, 6, 251, 70, 14
    DEFPUSHBUTTON   "Install", IDC_INSTALL_INSTALL_BUTTON, 155, 251, 50, 14
    PUSHBUTTON      "Cancel", IDCLOSE, 210, 251, 50, 14
}

IDD_INSTALL_TAB DIALOGEX 15, 51, 236, 188
STYLE DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS
CAPTION "Rainstaller"
FONT 8, "MS Shell Dlg 2"
{
    LTEXT           "The following package is about to be installed.", IDC_STATIC, 0, 0, 231, 39
    LTEXT           "Name:", IDC_STATIC, 0, 20, 35, 9
    LTEXT           "", IDC_INSTALLTAB_NAME_TEXT, 50, 20, 200, 9, SS_NOPREFIX
    LTEXT           "Author:", IDC_STATIC, 0, 33, 35, 9
    LTEXT           "", IDC_INSTALLTAB_AUTHOR_TEXT, 50, 33, 200, 9, SS_NOPREFIX
    LTEXT           "Version:", IDC_STATIC, 0, 46, 35, 9
    LTEXT           "", IDC_INSTALLTAB_VERSION_TEXT, 50, 46, 200, 9, SS_NOPREFIX
    LTEXT           "Included components:", IDC_STATIC, 0, 65, 80, 9
    CONTROL         "", IDC_INSTALLTAB_COMPONENTS_LIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_NOSORTHEADER | WS_BORDER | WS_TABSTOP, 0, 80, 234, 86
    AUTOCHECKBOX    "Apply included theme", IDC_INSTALLTAB_THEME_CHECKBOX, 4, 175, 220, 9

    LTEXT           "Installing...", IDC_INSTALLTAB_INPROGRESS_TEXT, 0, 0, 236, 60, NOT WS_VISIBLE
    CONTROL         "", IDC_INSTALLTAB_PROGRESS, "msctls_progress32", PBS_MARQUEE | NOT WS_VISIBLE | WS_BORDER, 0, 15, 236, 11
}

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_INSTALLHEADER           BITMAP                  "res/Rainstaller.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

IDI_SKININSTALLER           ICON    DISCARDABLE     "res/Rainstaller.ico"
