// Microsoft Developer Studio generated resource script.
//

#include "..\..\revision-number.h"
#define APSTUDIO_READONLY_SYMBOLS
#include "windows.h"
#undef APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,2,0,0
 PRODUCTVERSION PRODUCTVER
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L		
#endif
 FILEOS	VOS_NT_WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE VFT_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "FileDescription", "PerfMon Plugin for Rainmeter"
            VALUE "FileVersion", "1.2.0.0"
            VALUE "InternalName", "PluginPerfMon"
            VALUE "LegalCopyright", "Copyright (C) 2010 - Rainy"
            VALUE "OriginalFilename", "PluginPerfMon.dll"
            VALUE "ProductName", "Rainmeter"
            VALUE "ProductVersion", STRPRODUCTVER
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
