name: build

on:
  pull_request:
    branches:
      - master

  push:
    branches:
      - master

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v2

      - name: Run Build.bat
        run: |
          cd Build
          Build.bat pre 0 0 0 0 1
        shell: cmd
