name: Publish to WinGet

on:
  release:
    types: [released]

jobs:
  publish:
    runs-on: windows-latest
    steps:
      - uses:  vedantmgoyal9/winget-releaser@main
        with:
          identifier: Rainmeter.Rainmeter
          installers-regex: '\.exe$' # Only .exe files
          token: ${{ secrets.WINGET_TOKEN }}
          fork-user: brianferguson
