#include <windows.h>
#include "resource.h"

#ifndef VERSION_FULL
#define VERSION_FULL "0.0.0.0"
#endif
#ifndef VERSION_NUMERIC
#define VERSION_NUMERIC 0,0,0,0
#endif
#ifndef BUILD_YEAR
#define BUILD_YEAR "0000"
#endif

IDI_INSTALLER ICON "../Build/Installer/Installer.ico"
#ifndef RM_UNINSTALLER
IDR_WIZARD_IMAGE RCDATA "../Build/Installer/Wizard.jpg"
#endif

IDR_MANIFEST RT_MANIFEST "Installer.manifest"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION VERSION_NUMERIC
 PRODUCTVERSION VERSION_NUMERIC
 FILEFLAGSMASK 0x3fL
 FILEOS 0x40004L
 FILETYPE 0x1L
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040904b0"
  BEGIN
   VALUE "CompanyName", "Rainmeter"
#ifdef RM_UNINSTALLER
   VALUE "FileDescription", "Rainmeter Uninstaller"
#else
   VALUE "FileDescription", "Rainmeter Installer"
#endif
   VALUE "FileVersion", VERSION_FULL
   VALUE "LegalCopyright", "Copyright " BUILD_YEAR " Rainmeter Team"
   VALUE "ProductName", "Rainmeter"
   VALUE "ProductVersion", VERSION_FULL
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x409, 1200
 END
END

#ifndef RM_UNINSTALLER
IDD_LANGUAGE DIALOGEX 0, 0, 193, 65
STYLE DS_SETFONT | DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Rainmeter Setup"
FONT 9, "Segoe UI"
BEGIN
 LTEXT "Please select the installer language.", -1, 45, 12, 130, 8
 COMBOBOX IDC_LANGUAGE, 45, 25, 140, 100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
 DEFPUSHBUTTON "OK", IDOK, 77, 47, 49, 12
 PUSHBUTTON "Cancel", IDCANCEL, 137, 47, 49, 12
 ICON IDI_INSTALLER, -1, 12, 12, 21, 21
END

IDD_WIZARD DIALOGEX 0, 0, 333, 170
STYLE DS_SETFONT | DS_MODALFRAME | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "Rainmeter Setup"
FONT 9, "Segoe UI"
BEGIN
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 0, 145, 333, 1
 LTEXT "", IDC_PAGE_TITLE, 120, 9, 190, 12
 LTEXT "", IDC_PAGE_SUBTITLE, 120, 29, 190, 8
 AUTORADIOBUTTON "", IDC_STANDARD, 120, 43, 190, 8, WS_GROUP | WS_TABSTOP
 LTEXT "", IDC_STANDARD_DESCRIPTION, 132, 51, 180, 14
 AUTORADIOBUTTON "", IDC_PORTABLE, 120, 71, 190, 8
 LTEXT "", IDC_PORTABLE_DESCRIPTION, 132, 79, 180, 21
 LTEXT "", IDC_VERSION, 120, 121, 190, 8
 GROUPBOX "Destination Folder", IDC_DIRECTORY_GROUP, 16, 22, 299, 27
 EDITTEXT IDC_DIRECTORY, 23, 33, 230, 9, ES_AUTOHSCROLL
 PUSHBUTTON "Browse...", IDC_BROWSE, 258, 32, 49, 11
 GROUPBOX "Additional Options", IDC_OPTIONS_GROUP, 16, 56, 299, 31
 AUTOCHECKBOX "", IDC_64BIT, 23, 66, 200, 8
 AUTOCHECKBOX "", IDC_STARTUP, 23, 76, 200, 8
 CONTROL "", IDC_PROGRESS, "msctls_progress32", PBS_SMOOTH, 23, 61, 287, 9
 LTEXT "", IDC_STATUS, 23, 76, 287, 15
 AUTOCHECKBOX "Run Rainmeter", IDC_RUN, 120, 112, 190, 8
 PUSHBUTTON "< Back", IDC_BACK, 161, 151, 52, 12
 DEFPUSHBUTTON "Next >", IDC_NEXT, 217, 151, 52, 12
 PUSHBUTTON "Cancel", IDCANCEL, 273, 151, 52, 12
END

#else
IDD_UNINSTALL DIALOGEX 0, 0, 333, 105
STYLE DS_SETFONT | DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Rainmeter Uninstall"
FONT 9, "Segoe UI"
BEGIN
 LTEXT "Uninstall options", IDC_PAGE_TITLE, 12, 8, 307, 9
 AUTOCHECKBOX "Uninstall Rainmeter", IDC_UNINSTALL_RAINMETER, 21, 31, 267, 8, WS_DISABLED
 AUTOCHECKBOX "", IDC_DELETE_SETTINGS, 21, 44, 287, 8
 LTEXT "", IDC_DELETE_DESCRIPTION, 32, 53, 280, 15
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 0, 84, 333, 1
 DEFPUSHBUTTON "Uninstall", IDOK, 215, 90, 53, 11
 PUSHBUTTON "Cancel", IDCANCEL, 273, 90, 52, 11
END
#endif
